exportPattern("^[[:alpha:]]+")

import(parallel)

S3method(print, mcse)
S3method(print, np.loc.test)
S3method(print, np.cor.test)
S3method(print, np.reg.test)

importFrom("stats", "cor", "median", "sd", "qnorm")
importFrom("utils", "combn")