exportPattern("^[[:alpha:]]+")

import(parallel)

S3method(print, mcse)
S3method(print, np.boot)
S3method(print, np.loc.test)
S3method(print, np.cor.test)
S3method(print, np.reg.test)

S3method(plot, np.loc.test)
S3method(plot, np.cor.test)
S3method(plot, np.reg.test)

importFrom("graphics", "abline", "hist")
importFrom("stats", "cor", "cov", "median", "pnorm", "pchisq", "pf", "sd", "qnorm", "quantile")
importFrom("utils", "combn")